<div Class="landing-background position-absolute w-100 vh-100">
  <div class="container">
    <div class="landing-panel p-4 mt-5">
      <div class="row">
        <div class="col-md-12">
          <div class="d-md-flex text-center text-md-left">
            <img src="../../../assets/image/logo.png" width="100" height="100"/>
            <div class="text-white font-weight-bold">
              <span style="font-size: 60px; line-height: 60px" class="text-white">eSiksha</span>
              <p>Makes the learning impactful, digitally.</p>
            </div>
          </div>

          <div class="bg-white px-md-5 p-3 mt-4">
            <div class="row">
              <div class="col-md-8 pr-md-4">
                <h1 class="font-weight-bold mb-4">Login to continue</h1>
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="phone">Phone Number</label>
                    <input type="number" class="form-control" id="phone">
                  </div>
                  <div class="form-group col-md-6">
                    <label for="pwd">Password (Min. 6 digits long)</label>
                    <input type="password" class="form-control" id="pwd">
                  </div>
                  <div class="form-group col-md-6 offset-md-6 text-md-right mt-2">
                    <button type="submit" class="btn btn-success font-weight-bold" routerLink="/teacher/dashboard">
                      Validate to continue <i class="fas fa-lock text-white font-weight-bold ml-2"></i>
                    </button>
                  </div>
                </div>
              </div>

              <div class="col-md-4 border-left my-4 pl-md-4 text-center">
                <h5 class="text-dark text-center mb-4">Don't have an account?</h5>

                <button type="button" routerLink="/" class="btn text-white btn-dark font-weight-bold">
                  Register as new teacher
                  <i class="fas fa-arrow-alt-circle-right text-white font-weight-bold ml-1"></i>
                </button>
                <div class="row my-3">
                  <div class="col-md-5">
                    <hr/>
                  </div>
                  <div class="col-md-2">
                    <h5 class="mb-0 my-1 text-uppercase">or</h5>
                  </div>
                  <div class="col-md-5">
                    <hr/>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-light border text-dark font-weight-bold">
                  <img width="18" class="mr-1"
                       src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"/>
                  Continue with Google
                </button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
