<app-side-navigation></app-side-navigation>
<div class="col-md-11 mx-auto my-5 pt-5">
  <div class="row mt-3">
    <div class="col-md-8">
      <div class="card shadow-sm mb-3">
        <button type="button" class="btn btn-light border border-danger text-danger font-weight-bold btn-lg absolute-center shadow">
          Activate Location
        </button>
        <div class="card-body blur">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../assets/image/gmaps.png" class="card-img-top" alt="mobile-otp-banner">
            </div>
            <div class="col-md-10">
              <p class="card-text mb-1">Coaching Location</p>
              <h2 class="card-title text-dark font-weight-bolder mb-3">Bholanath Mandir, Nimta</h2>
              <a class="btn btn-grey border btn-sm font-weight-bold">
                Timing <span class="badge badge-light ml-2">12:00 PM - 01:00 PM</span>
              </a>
              <a class="btn btn-grey border btn-sm font-weight-bold ml-3">
                Timing <span class="badge badge-light ml-2">12:00 AM - 01:00 AM</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../assets/image/gmaps.png" class="card-img-top" alt="mobile-otp-banner">
            </div>
            <div class="col-md-9">
              <p class="card-text mb-1">Coaching Location</p>
              <h2 class="card-title text-dark font-weight-bolder mb-3">Santoshpur, Eastern Metropolitan Bypass</h2>
              <a class="btn btn-grey border btn-sm font-weight-bold">
                Timing <span class="badge badge-light ml-2">12:00 PM - 01:00 PM</span>
              </a>
              <a class="btn btn-grey border btn-sm font-weight-bold ml-3">
                Timing <span class="badge badge-light ml-2">12:00 AM - 01:00 AM</span>
              </a>
            </div>
            <div class="col-md-1">
              <div class="btn-group">
                <button class="btn btn-lg text-dark btn-outline-light rounded-0 border"
                        type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div class="dropdown-menu shadow-lg">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 sticky">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between mb-3">
            <img src="../../../assets/image/location-pin.png" class="card-img-top w-25" alt="educational-banner">
            <h4 class="ml-2 my-auto mb-0 font-weight-bolder">Add New Coaching Location</h4>
          </div>
          <div class="form-group">
            <label for="phone">Location Name</label>
            <input type="text" class="form-control font-weight-bold text-dark" id="phone">
          </div>
          <div class="form-group">
            <label>Select Days</label>
            <div class="d-block">
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Monday
              </a>
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Tuesday
              </a>
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Wednesday
              </a>
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Thursday
              </a>
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Friday
              </a>
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Saturday
              </a>
              <a class="btn btn-light border-grey p-2 btn-sm mr-2 my-2 font-weight-bold">
                Sunday
              </a>
            </div>
          </div>
          <a class="btn btn-success text-white btn-lg font-weight-bold w-100 text-capitalize">Save Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
