<app-side-navigation></app-side-navigation>
<div class="col-md-11 mx-auto my-5 pt-5">
  <div class="row mt-3">
    <div class="col-md-9">
      <div class="card shadow-sm">
        <div class="card-body">
          <div class="row">
            <div class="col-md-2">
              <img src="../../../assets/image/mobile-otp.png" class="card-img-top" alt="mobile-otp-banner">
            </div>
            <div class="col-md-10">
              <p class="card-text mb-2">Mobile Number Verification Pending</p>
              <h2 class="card-title text-dark font-weight-bolder mb-4">(+91) 9836759019</h2>
              <div class="d-flex justify-content-start">
                <input type="text" #time class="form-control w-25 mr-3 some-time-inputs" placeholder="OTP sent to mobile">
                <a (click)="getTimeValue()" class="btn btn-success text-white font-weight-bold">Verify with OTP</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 p-3 text-center hero-banner">
        <h2 class="card-title text-white font-weight-bolder my-1">Which subjects do you teach?</h2>
        <div class="card col-md-6 mx-auto mt-4">
          <div class="card-body d-flex justify-content-start">
            <input type="text" #autocompleteText class="form-control mr-3" (keyup)="autoCompleteText()" placeholder="Add as comma separated">
            <a *ngIf="autoComplete" href="#" class="btn btn-success font-weight-bold text-capitalize">Submit</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img src="../../../assets/image/education-banner.png" class="card-img-top" alt="educational-banner">
        <div class="card-body">
          <h4 class="font-weight-bolder d-flex">
            <i class="fas fa-video text-secondary position-relative mr-4" style="top:5px; font-size: 40px"></i>
            Organise an online class
          </h4>
          <p class="card-text mt-3">Online classes are much more effective for the students to communicate and solve their bunch of problems in realtime.</p>
          <a href="#" class="btn btn-success font-weight-bold w-100 text-capitalize">Create now</a>
        </div>
      </div>
    </div>
  </div>
</div>
