<section class="position-fixed p-3 px-4 top-0 bg-white high-z-index border-bottom shadow-sm w-100">
  <div class="d-md-flex justify-content-between my-auto">
    <button class="btn btn-transparent d-md-flex justify-content-start btn-sm" routerLink="/">
      <img src="../../../assets/image/logo.png" width="40" height="40"/>
      <h3 class="text-black font-weight-bolder mb-0">eSiksha</h3>
    </button>

    <div class="d-md-flex justify-content-center my-auto">
      <a class="btn text-dark mx-1" style="font-size: 18px;" routerLink="/teacher/dashboard">
        <i class="fas fa-columns mr-2 text-danger"></i>
        <span>Dashboard</span>
      </a>

      <div class="dropbottom">
        <a class="btn dropdown-toggle mx-1" style="font-size: 18px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-briefcase mr-2 text-info"></i>
          <span>Operations</span>
        </a>
        <div class="dropdown-menu shadow-lg animated fadeIn">
          <a class="dropdown-item py-2" routerLink="/teacher/location">
            <i class="fas fa-map-marker-alt mr-2 text-secondary"></i>
            Manage Locations
          </a>
          <a class="dropdown-item py-2" >
            <i class="far fa-clock mr-2 text-secondary"></i>
            Coaching Scheduler
          </a>
          <a class="dropdown-item py-2" >
            <i class="fas fa-video mr-2 text-secondary"></i>
            My Online Classes
          </a>
        </div>
      </div>


      <div class="dropbottom">
        <a class="btn dropdown-toggle mx-1" style="font-size: 18px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-book-reader mr-2 text-primary"></i>
          <span>Curriculum</span>
        </a>
        <div class="dropdown-menu shadow-lg animated fadeIn">
          <a class="dropdown-item py-2" >
            <i class="fas fa-plus mr-2 text-secondary"></i>
            Add New Subject
          </a>
          <a class="dropdown-item py-2" >
            <i class="fas fa-tasks mr-2 text-secondary"></i>
            Manage Curriculum
          </a>
          <a class="dropdown-item py-2" >
            <i class="fas fa-sitemap mr-2 text-secondary"></i>
            Curriculum Scheduling
          </a>
        </div>
      </div>

      <a class="btn mx-1" style="font-size: 18px;">
        <i class="fas fa-users mr-2 text-warning"></i>
        <span>My Students</span>
      </a>
    </div>

    <div class="d-md-flex justify-content-end my-auto">
      <div class="p-3 rounded-circle bg-info-light" style="width:40px; height: 40px">
        <i class="far fa-user position-relative" style="font-size: 20px;left: -4px;top: -7px;"></i>
      </div>
      <div class="dropbottom">
        <a class="btn text-black dropdown-toggle" style="font-size: 18px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>My Account</span>
        </a>
        <div class="dropdown-menu shadow-lg animated fadeIn">
          <a class="dropdown-item py-2" >
            <i class="fas fa-wrench mr-2 text-secondary"></i>
            View Profile
          </a>
          <a class="dropdown-item py-2" >
            <i class="far fa-paper-plane mr-2 text-secondary"></i>
            Invite A Student
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item py-2 btn btn-transparent" routerLink="/">
            <i class="fas fa-sign-out-alt mr-2 text-secondary"></i>
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
