@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700;900&display=swap');
body,html {
  margin: 0;
  padding: 0;
  background: #E4EDF5;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.cursor-pointer {
  cursor: pointer;
}
.bg-dark {
  background-color: #000000 !important;
}
.border-light {
  border: 1px solid #dddddd !important;
}
.font-weight-bolder {
  font-weight: 900 !important;
}
.border-grey {
  border: 1px solid #cccccc;
}
.text-grey {
  color: #cccccc;
}
.text-success {
  color: #47B27F !important;
}
.top-0 {
  top: 0;
}
.bottom-0 {
  bottom: 0;
}
.left-0 {
  left: 0;
}
.right-0 {
  right: 0;
}
.high-z-index {
  z-index: 999;
}
.btn-success {
  background-color: #47B27F !important;
}
.btn-grey {
  background-color: #F1F1F1 !important;
}
.btn-outline-grey,
.border-grey {
  border: 1px solid #8E9295;
}
.bg-grey {
  background: #ccc;
}
.bg-warning {
  background-color: #FFD33E !important;
}
.bg-info-light {
  background-color: #e2f6f9 !important;
}
.bg-warning-light {
  background-color: #FFFAE5 !important;
}
.bg-danger-light {
  background-color: #f9ebee !important;
}
.bg-primary-light {
  background-color: #e9f2fe !important;
}
.bg-success-light {
  background-color: #e0f2ea !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  z-index: 999;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.absolute-center {
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, 0);
  z-index: 999;
}
