<div Class="landing-background position-absolute w-100 vh-100">
  <div class="container">
    <div class="landing-panel mt-5">
      <div class="row">
        <div class="col-md-6 p-5">
          <div class="d-md-flex text-center text-md-left cursor-pointer btn btn-transparent" routerLink="/">
            <img src="../../../assets/image/logo.png" width="100" height="100"/>
            <div class="text-white font-weight-bold">
              <span style="font-size: 60px; line-height: 60px" class="text-white">eSiksha</span>
              <p>Makes the learning impactful, digitally.</p>
            </div>
          </div>

          <div class="text-white p-4">
            <h5 class="font-weight-bold">Makes the learning impactful, digitally.</h5>
            <hr class="border"/>
            <ul>
              <li class="my-3" style="font-size: 20px">Fun with e-learning</li>
              <li class="my-3" style="font-size: 20px">Daily events from your teachers</li>
              <li class="my-3" style="font-size: 20px">Access to course materials</li>
              <li class="my-3" style="font-size: 20px">Get prep ready from home</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6 card shadow-lg">
          <div class="bg-white card-body">
            <div class="mb-4" style="font-size: 25px">Registration invitation from
              <h1 class="font-weight-bold">Subham Naskar</h1>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="name">Your Full Name</label>
                <input type="text" class="form-control" id="name">
              </div>
              <div class="form-group col-md-6">
                <label for="phone">Phone Number</label>
                <input type="number" class="form-control" id="phone">
              </div>
              <div class="form-group col-md-6">
                <label for="pwd">Password (Min. 6 digits long)</label>
                <input type="password" class="form-control" id="pwd">
              </div>
              <div class="form-group col-md-6">
                <label for="email">Email Address (Optional)</label>
                <input type="email" class="form-control" id="email">
              </div>
              <div class="form-group col-md-6 offset-md-6 text-center text-md-right mt-2">
                <button type="submit" class="btn btn-success font-weight-bold">
                  Submit Details <i class="fas fa-arrow-alt-circle-right text-white font-weight-bold ml-1"></i>
                </button>
              </div>
            </div>

            <div class="my-3 mt-3 text-center">
              <div class="row my-3">
                <div class="col-md-3">
                  <hr/>
                </div>
                <div class="col-md-6">
                  <h5 class="mb-0 my-1 text-uppercase">or get registered</h5>
                </div>
                <div class="col-md-3">
                  <hr/>
                </div>
              </div>
              <button type="submit" class="btn btn-outline-light border text-dark font-weight-bold">
                <img width="18" class="mr-1"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/1200px-Google_%22G%22_Logo.svg.png"/>
                Continue with Google
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
